{% extends 'base.html' %}
    {% block content %}
        {% for p in post %}
            <h1>{{ p.title }}</h1>
            {% for u in user %}
                <h2>By: {{ u.first_name }} {{ u.last_name }}</h2>
            {% endfor %}
            <h4>Created at: {{ p.created_at }}</h4>
            <p>{{ p.content }}</p>
            <form action="/{{ user[0].id }}/post/delete/{{ p.id }}" method="POST">
                <button>Delete</button>
            </form>
            <form action="/{{ user[0].id }}/post/edit/{{ p.id }}" method="GET">
                <button>Edit</button>
            </form>
        {% endfor %}
    {% endblock %}